@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 200vh;
  width: 100%;
}
:root {
  --roboto-font: "Roboto", sans-serif;
  --lilita-font: "Lilita One", cursive;
  --oswald-font: "Oswald", sans-serif;

  --light-black: #333;
  --light-white: #f7f7f7;
  --light-red: #e3000e;
  --light-gray: #f6f9fa;
  --light-grey-2: #dddddd;
  --white: #fff;
  --yellow: #f7be27;
  --grey: #757575;
  --brown: #6f5e4d;
  --bg-cofee: #642f21;
}

body,
html {
  font-size: 1rem;
  font-family: var(--roboto-font);
  font-weight: 300;
}


@media (max-width:992px) {

  body,
  html {
    font-size: 0.875rem;
  }
}

/* Headline Tag */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--oswald-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
}

p {
  font-size: 16px;
}

a {
  color: var(--light-black);
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  --moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
}



/* .btn_red {
  color: var(--white);
  background: var(--light-red);
  border-color: var(--light-red);
}

.btn_red:hover,
.btn_red:focus {
  color: var(--light-red);
  background: transparent;
  border-color: var(--light-red);
} */

